# Python cache & environment
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
*.env

# Sensitive files
AWS_RDS.txt
kaggle.json
profiles.yml

# Project artifacts
*.csv         # OPTIONAL: remove if you want to track CSVs in GitHub (like in /seeds/)
*.db
*.log

# IDE folders
.vscode/
.idea/
.DS_Store

# dbt-specific folders
dbt_packages/
target/

# Prevent accidents
profiles.yml
AWS_RDS.txt
kaggle.json